<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<p><a href="/address">Add address</a></p>
<p><a href="/user">Add user</a></p>
<p><a href="/item">Add item</a></p>
<p><a href="/king">Add king</a></p>
<p><a href="/vote">Add vote</a></p>
<p><a href="/card">Add card</a></p>
<p><a href="/card/money">Insert money on card</a></p>
<p><a href="/payment">Add payment</a></p>
<p><a href="/history">Request payment history for user</a></p>
<p><a href="/history/pending">Display payment history result for user</a></p>
</body>
</html>