<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add address</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/user}" th:object="${user}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Phone: <input type="number" th:field="*{phone}" /></p>
    <p>Address:
        <select th:field="*{addressId}">
            <option th:each="item : ${addresses}" th:value="${item.id}" th:text="${item.street + ' ' + item.number + ', ' + item.city}"/>
        </select>
    </p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<a href="/">Go back</a>
</body>
</html>