<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Payment history for user ' + ${user.name} + ' has been requested!'" />
<p>It usually takes a while, you can find your result later here:</p>
<a th:href="'/history/result?userId=' + ${user.id}">Payment history</a>
<p>
    <a href="/">Go back</a>
</p>
</body>
</html>