<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'History for user ' + ${user.name}" />
<p th:text="${history.history}" />
<p>
    <a href="/">Go back</a>
</p>
</body>
</html>