<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add address</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/vote}" th:object="${vote}" method="post">
    <p>King:
        <select th:field="*{kingId}">
            <option th:each="item : ${kings}" th:value="${item.id}" th:text="${item.name + ' - ' + item.school}"/>
        </select>
    </p>
    <p>User:
        <select th:field="*{userId}">
            <option th:each="item : ${users}" th:value="${item.id}" th:text="${item.name}"/>
        </select>
    </p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<a href="/">Go back</a>
</body>
</html>